<!-- FILEPATH: /home/ilias/escapeRoomSite/rooms/templates/rooms/room_form.html -->

{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    {% if not form.instance.pk %}
        <h1>Create a new Room!</h1>
    {% else %}
        <h1>Update Room</h1>
    {% endif %}
    {% if not form.instance.pk %}
        <form action="{% url 'rooms:new' %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value='Create Room'>
        </form>
    {% else %}
        <form action="{% url 'rooms:update' username=user.username pk=room.pk %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value='Update Room'>
        </form>
    {% endif %}
{% endblock %}
