{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <h1>Rooms</h1>
    <ul class="list-group">
        {% for room in room_list %}
            <li class="list-group-item">
                <a href="{% url 'rooms:single' username=user.username pk=room.pk %}">{{ room.title }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">No rooms available.</li>
        {% endfor %}
    </ul>
    <div><h1></h1></div>
    <div>
        <a class="btn btn-warning" href="{% url 'rooms:new' %}">Create Room</a>
        <a type="button" class="btn btn-info" href="{% url 'rooms:new_sub_room' %}">Create Sub-Room</a>
    </div>
{% endblock %}
