<!-- FILEPATH: /home/ilias/escapeRoomSite/rooms/templates/rooms/room_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <h1>Room: {{ room.title }}</h1>
        <p>Scenario:</p>
        <p>{{ room.scenario }}</p>
        <p>Puzzle Path Design:</p>
        <p>{{ room.puzzlePathDesign }}</p>
        <p>Minimum Number of Players:</p>
        <p>{{ room.minPlayers }}</p>
        <p>Maximum Number of Players:</p>
        <p>{{ room.maxPlayers }}</p>
        <p>Is there an Actor?:</p>
        <p>{{ room.hasActor }}</p>
        <p>Goal:</p>
        <p>{{ room.goal }}</p>
        <p>Difficulty:</p>
        <p>{{ room.difficulty }}</p>
        <p>Time Limit:</p>
        <p>{{ room.timeLimit }}</p>
        <p>Theme:</p>
        <p>{{ room.theme }}</p>
        <p>Brief:</p>
        <p>{{ room.brief }}</p>
        <p>Debrief:</p>
        <p>{{ room.debrief }}</p>
        
        <h3>Subrooms:</h3>
        <ul>
            {% for subroom in subrooms %}
                <li><a href="{% url 'rooms:subroom_single' username=user.username title=room.title pk=subroom.pk %}">{{ subroom.title }}</a></li>
            {% endfor %}
        </ul>
    
        <div class="media-footer">
            {% if user.is_authenticated and room.user == userId and not hide_delete %}
                <a href="{% url 'rooms:delete' pk=room.pk %}" title="delete" class="btn btn-danger">Delete</a>
            {% endif %}
            {% if user.is_authenticated and room.user == userId %}
                <a href="{% url 'rooms:update' username=user.username pk=room.pk %}" class='btn btn-primary'>Update</a>
            {% endif %}
            {% if user.is_authenticated and room.user == userId %}
                <a type="button" class="btn btn-info" href="{% url 'rooms:new_sub_room' pk=room.pk %}">Create Sub-Room</a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
