{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    {% if not form.instance.pk %}
        <h1>Create a Solution</h1>
    {% else %}
        <h1>Update Solution</h1>
    {% endif %}
    {% if not form.instance.pk %}
        <form action="{% url 'rooms:new_solution' pk=puzzle.pk username=user.username %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value='Create Solution'>
        </form>
    {% else %}
        <form action="{% url 'rooms:update_solution' pk=object.pk %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value='Update Solution'>
        </form>
    {% endif %}
{% endblock %}